{% extends 'base.html.twig' %}

{% block title %}Начислить баллы{% endblock %}

{% block body %}
    <form action="/add/bonus" method="POST">
        <p>Введите номер телефона или номер карты<input class="form-control mb-3" type="text" name="indef" required></p>
        <p>Введите QR Code<input class="form-control mb-3" type="text" name="qrcode" required></p>
        <p><button class="btn btn-primary" type="submit">Начислить баллы</button></p>
    </form>
    {% if err %}
        <center>
            <p style="color: #B0413E"><b>{{  err.error }}</b></p>
        </center>
    {% endif %}
{% endblock %}
